<strong>Olá, {{ student }}</strong>
<p>Sua matricula na academia GymPoint foi realizada com sucesso, confira os detalhes abaixo:</p>
<p>
    <strong>Plano Escolhido: </strong> {{ duration }} mês/meses de {{ plan }} <br/>
    <strong>Data de Inicio: </strong> {{ start_date }} <br/>
    <strong>Data de Fim: </strong> {{ end_date }} <br/>
    <strong>Valor Total: </strong> {{ price }} <br/>
    <br/>
    <small>
        Te desejamos muito sucesso neste novo objetivo.
    </small>
</p>
